*,
::after,
::before {
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  line-height: 18px;;
}
.title {
  font-size: 70px;
  font-weight: 400;
  line-height: 78px;
  margin: 0 auto;
  text-align: center;
  color: #515076;

}

.clear-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}



.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 45px;
}


.products_item {
 width: 340px;
  border-radius: 10px;
  border: 5px solid #e3e3e31a;
}


.card {
  background: color #f7f7f7;;
  padding:  25px;
}

.card_image{
  display: block;
}

.card_category{
  display: block;
  font-size: 13px;
  line-height: 18px;
  color: #8c8c8c;
  text-transform: uppercase;
}
.card_name{
  font-size: 20px;
  margin: 0px;
  line-height: 27px;
}

.card_description{
  font-size: 13px;
  line-height: 18px;
  color: #515076;
  margin-top: 5px;
  margin-bottom: 15px;
}
.card_description p:first-child {
  margin-top: 0;
}
.card__compound {
  width: 252px;
  height: 87px;
}
.compound__name {
  font-size: 13px;
  line-height: 18px;
}
.compound__list{
  font-size: 13px;
  padding-left: 15px;
}
.card__price {
  font-size: 20px;
  line-height: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20px;
}
.container {
  width: 1110px;
  margin: 0 auto;

}

.catalog__container {
  background-image: url(images/card_fone.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-top: 220px;
}

.catalog__title {
  margin-top: 0px;
  margin-bottom: 110px;
  
}